body{
  background-color: #0292;
}

header, section, footer{
  background-color: white;
}

header{
  height: 100px;
  
  
}

header > nav{
  width: 1400px
}

.list_nav{ 
  float: right;
}

.list_nav > li{
  list-style-type: none;
  background-color: orange;
  height: 50px;
  width: 150px;
  margin: 5px;
  float: left;
  line-height: 50px;
  text-align: center;
  
}

section{
  height: 700px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}


.section_item{
  background-color: orange;
  color : white;
  height: 100px;
  width: 100px;
  margin: 5px;
}


.main_image{
  max-height: 300px;
  
}


.info_footer{
  height: 150px;
  text-align: center;
  padding-top: 50px;
}