section {
	position: relative;
}

.layout_section {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

section>.layout_section>article {
	display: inline-block;
	padding: 20px;
	min-width: 1000px;
	text-align: left;
}

article>img {
	width: 300px;
	height: 250px;
	border: 10px solid gray;
	float: left;
}

.article_txt {
	display: inline-block;
	width: 500px;
	padding-left: 50px;
}

.article_txt>p {
	margin: 0px;
	line-height: 30px;
}